{% extends 'base.html' %}
{% load static %}


{% block content %}

    <style>

        .container div {
          width: 280px;
          background-color: antiquewhite;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
        }

        .container img {
            width : 100%;
            border-radius: 1rem;
        }
    </style>


    <!DOCTYPE html>
    <div class="container">
      <div class="item1">
          <img src="https://picsum.photos/200/300?grayscale" alt="">
      </div>
      <div class="item2">
          <img src="https://picsum.photos/200/333?grayscale" alt="">
      </div>
      <div class="item3">
          <img src="https://picsum.photos/200/450?grayscale" alt="">
      </div>
      <div class="item4">
          <img src="https://picsum.photos/200/150?grayscale" alt="">
      </div>
      <div class="item5">
          <img src="https://picsum.photos/200/200?grayscale" alt="">
      </div>
      <div class="item6">
          <img src="https://picsum.photos/200/222?grayscale" alt="">
      </div>
      <div class="item7">
          <img src="https://picsum.photos/200/366?grayscale" alt="">
      </div>
      <div class="item8">
          <img src="https://picsum.photos/200/450?grayscale" alt="">
      </div>
      <div class="item9">
          <img src="https://picsum.photos/200/600?grayscale" alt="">
      </div>
      <div class="item10">
          <img src="https://picsum.photos/200/655?grayscale" alt="">
      </div>
      <div class="item11">
          <img src="https://picsum.photos/200/222?grayscale" alt="">
      </div>
      <div class="item12">
          <img src="https://picsum.photos/200/466?grayscale" alt="">
      </div>
      <div class="item13">
          <img src="https://picsum.photos/200/450?grayscale" alt="">
      </div>
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>


{% endblock %}